@import url("http://fonts.cdnfonts.com/css/gilroy-bold");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .gilroy {
    font-family: "Gilroy-Regular", sans-serif;
  }

  *:focus {
    outline:none!important;
  }

    .react-datepicker-wrapper {
    width: 100%;
  }

  .hover-trigger .hover-target {
      display: none;
  }

  .hover-trigger:hover .hover-target {
      display: block;
  }
  .w-min {
    width: min-content;
  }
  .w-max {
    width: max-content;
  }
  /*react-select styling*/

  .select {
    @apply: relative box-border dg-border-main focus:outline-none focus:border-indigo-500 text-base hover:border-indigo-400;
  }
  /*.r__control {*/
  /*  @apply items-center dg-subelement-bg dg-border-main flex flex-wrap justify-between relative box-border transition-all duration-200;*/
  /*}*/
  /*.r__value-container,*/
  /*.r__value-container--is-multi {*/
  /*  @apply items-center flex flex-wrap px-1 py-2 relative overflow-hidden box-border;*/
  /*}*/
  /*.r__placeholder {*/
  /*  @apply mx-1 absolute transform top-50 translate-y-1/2 box-border;*/
  /*}*/
  /*.r__input {*/
  /*  @apply inline-block;*/
  /*}*/
  /*.r__indicators {*/
  /*  @apply items-center flex flex-shrink-0 box-border;*/
  /*}*/
  /*.r__indicator-separator {*/
  /*  @apply self-stretch my-1 w-px box-border dg-main-bg;*/
  /*}*/
  /*.r__indicator {*/
  /*  @apply text-black;*/
  /*}*/
  /*.r__indicator,*/
  /*.r_dropdown-indicator {*/
  /*  @apply bg-transparent hover:text-white flex p-1 transition-colors duration-150 box-border;*/
  /*}*/
  /*.r__control-is-focused,*/
  /*.r__control-menu-is-open {*/
  /*  @apply border-indigo-500;*/
  /*}*/
  /*.r__menu {*/
  /*  @apply dg-element-bg text-white z-30;*/
  /*}*/
  /*.r__option {*/
  /*  @apply hover:bg-gray-650;*/
  /*}*/
  /* @apply */
  .dg-media-object {
    @apply flex items-center font-semibold text-sm text-main-gray-250 rounded-lg py-2 px-4 dg-subelement-bg hover:bg-main-gray-500;
  }
  .dg-grid-3x3 {
    @apply grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-3;
  }
  .dg-icon-pill {
    @apply md:max-w-md w-full md:w-1/2 p-2 dg-subelement-bg h-18 rounded-lg mx-1 my-1 flex items-center font-semibold text-sm text-main-gray-250;
  }
  .dg-main-bg {
    @apply bg-gray-900 text-gray-500 gilroy;
  }
  .dg-element-bg {
    @apply bg-gray-800 gilroy;
  }
  .dg-subelement-bg {
    @apply bg-gray-650;
  }
  .dg-border-main {
    @apply border-gray-700 rounded-full;
  }
  .dg-rounded {
    @apply dg-element-bg rounded-lg-md shadow-md;
  }
  .dg-rounded-small-box {
    @apply dg-element-bg w-1/2 md:w-1/3 min-w-xxs max-w-lg rounded-lg p-8 shadow-lg h-72;
  }
  .dg-section-title {
    @apply text-3xl font-bold h-8 mt-4;
  }
  .dg-full-center-flex {
    @apply mx-auto h-full flex justify-center items-center;
  }
  .dg-main-button {
    @apply w-32 h-10 bg-primary-main hover:bg-primary-hover rounded-xl text-white font-bold text-sm mx-auto;
  }
  .dg-secondary-button {
    @apply w-32 h-10 bg-main-gray-500 hover:bg-main-gray-400 rounded-xl text-white font-bold text-sm mx-auto;
  }
  .dg-main-button-w-icon {
    @apply flex bg-primary-main hover:bg-primary-hover rounded-full mx-auto border-0 p-2 md:pt-4 md:px-8 text-lg text-white;
  }
  .dg-form-full-field-wrapper {
    @apply w-full md:w-1/2 mb-5 pr-3;
  }
  .dg-form-quarter-field-wrapper {
    @apply w-full md:w-1/4 mb-5 pr-3;
  }
  .dg-form-label {
    @apply text-gray-400 block mb-1;
  }
  .dg-form-field-full {
    @apply w-full dg-subelement-bg text-white dg-border-main focus:outline-none focus:border-indigo-500 text-base hover:border-indigo-400 py-3 h-10 font-bold;
  }
  .dg-form-field-quarter {
    @apply w-3/4 dg-subelement-bg text-white dg-border-main focus:outline-none focus:border-indigo-500 text-base hover:border-indigo-400 h-10 font-bold;
  }
}